@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.shimmer {
  animation: skeleton 1.5s infinite linear;
  background-size: 200% 100%;
}
